@charset "UTF-8";
.color1 {
    color: rgba(171, 212, 151);
}

.border-color1 {
    border-color: rgba(171, 212, 151);
}

.bg-color1 {
    background-color: rgba(171, 212, 151);
}

.color2 {
    color: rgba(231, 231, 231);
}

.border-color2 {
    border-color: rgba(231, 231, 231);
}

.bg-color2 {
    background-color: rgba(231, 231, 231);
}
