
  <!-- Container -->
  <div>검색창(Gem 이용)</div>
  <br><br>
  <div class="club_menu">
    <ul>
      <li><a href="#" class="club_menu_click">전체</a></li>
      <li><a href="#">기획/아이디어</a></li>
      <li><a href="#">브랜드</a></li>
      <li><a href="#">광고/마케팅</a></li>
      <li><a href="#">사진/영상</a></li>
      <li><a href="#">디자인</a></li>
      <li><a href="#">문학/시나리오</a></li>
      <li><a href="#">IT/소프트웨어/게임</a></li>
      <li><a href="#">기타</a></li>
    </ul>
  </div>
  <div>
    <hr class="club_hr border-color2">
  </div>


  <div class="club_content1 mgn_layout_fixed">
    <!-- 광고  -->
    <div class="recommend_competition">
      <h1>추천 공모전</h1>
      <div class="competition_img1">
        <img src="/assets/1.jpg" alt="a" class="comp_content_img">
      </div>
      <div class="competition_content">
        <h2> 2018 태권도 사진 공모전 </h2>
        <hr>
        <p><span>[공모분야]</span> 사진/영상/UCC</p>
        <p><span>[주최기관]</span> 태권도진흥재단</p>
        <p><span>[접수기간]</span> 2018.04.20~2018.10.26.</p>
        <p class="competition_dday"><span></span> D-101</p>
        <p><span>[참가자격]</span> 제한없음</p>
        <p><span>[시상금]</span> 3천-5천만원</p>
        <p><span>[상세요강]</span> 바로가기</p>

      </div>
    </div>

    <!-- 랭킹 -->
    <div class="club_ranking border-color2">
      <h1>
        공모전 랭킹
        <button class="btn">시상금 <i class="fas fa-caret-down"></i></button>
      </h1>
      <p>
        <span class="col1">1</span> 제 6회 한국독서능력검정 개최
        <img src="/assets/1.jpg" alt="a" class="img-circle">
      </p>
      <p>
        <span class="col2">2</span> 투빅스
        <img src="/assets/1.jpg" alt="a" class="img-circle">
      </p>
      <p>
        <span class="col3">3</span> 여행 동아리
        <img src="/assets/1.jpg" alt="a" class="img-circle">
      </p>
      <a href="#" class="col4">
        + 더보기
      </a>
      <br>
    </div>
  </div>


  <!-- 게시판 -->
  <div class="mgn_layout_fixed competition_board">

    <h1>
      팀원 모집 중
      <span class="btn2_wrap float_right">
        <button class="btn2">컴퓨터공학과 <i class="fas fa-caret-down"></i></button>
        <button class="btn2">사진/영상 <i class="fas fa-caret-down"></i></button>
        <button class="btn2">기간순 <i class="fas fa-caret-down"></i></button>
      </span>
    </h1>
    <div class="comp_box_wrap">
      <div class="comp_box_outer">
        <span class="competition_category competition_category_1">
          사진/영상
        </span>
        <div class="comp_img_box">
          <img src="/assets/1.jpg" alt="a" class="comp_content_img">
        </div>

        <h2>2018 태권도 사진 공모전1</h2>
        <span class="comp_board_dday color1">D-6</span>
        <span class="comp_board_watching"><i class="far fa-eye"></i> 18</span>
      </div>
      <div class="comp_box_outer">
        <span class="competition_category competition_category_1">
          사진/영상
        </span>
        <div class="comp_img_box">
          <img src="/assets/1.jpg" alt="a" class="comp_content_img">
        </div>

        <h2>2018 태권도 사진 공모전</h2>
        <span class="comp_board_dday color1">D-6</span>
        <span class="comp_board_watching"><i class="far fa-eye"></i> 18</span>
      </div>
      <div class="comp_box_outer">
        <span class="competition_category competition_category_1">
          사진/영상
        </span>
        <div class="comp_img_box">
          <img src="/assets/1.jpg" alt="a" class="comp_content_img">
        </div>

        <h2>2018 태권도 사진 공모전</h2>
        <span class="comp_board_dday color1">D-6</span>
        <span class="comp_board_watching"><i class="far fa-eye"></i> 18</span>
      </div>
      <div class="comp_box_outer">
        <span class="competition_category competition_category_1">
          사진/영상
        </span>
        <div class="comp_img_box">
          <img src="/assets/1.jpg" alt="a" class="comp_content_img">
        </div>

        <h2>2018 태권도 사진 공모전</h2>
        <span class="comp_board_dday color1">D-6</span>
        <span class="comp_board_watching"><i class="far fa-eye"></i> 18</span>
      </div>
    </div>
  </div>


